body {
  margin: 0;
  font-family: 'DM Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 850px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'DM Sans', 'Courier New',
    monospace;
}
