.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 0;
}

.category-header {
    display: flex;
    flex-direction: row;
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 20px;
    gap: 10px;
}

.category-word {
    color: purple;
}

.question-header {
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.left-difColor {
    margin-left: 10px;
    color: green;
}

.question-header h1 {
    word-wrap: break-word;       
    overflow-wrap: break-word;   
    white-space: normal;         
}

.question {
    font-size: 1.2em;
    text-align: center;
    width: 70%;    
}

.question h2 {
    word-wrap: break-word;       
    hyphens: auto; 
    width: 100%;     
}

.difficulty {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: grey;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.choice-button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
    color: #ffffff; 
    background-color: #373B44; 
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
    width: 70%; 
}

.choice-button:hover {
    background-color: #4286f4; 
    cursor: pointer;
}

.choice-button:active {
    background-color: #003580; 
}

.greenText {
    color: green;
}

.orangeText {
    color: orange;
}

.redText {
    color: red;
}