.signin-container {
    height: 85vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px gray;
    width: 400px;
    background-color: white;
    border: 2px solid #007BFF;
}

.signin-input-row {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.div-separator {
    border-bottom: 2px solid black;
    margin: 10px 0;
}

.signin-input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin-left: 10px;
    font-size: 16px;
}

.signin-input:focus {
    outline: none;
}

.signin-label {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.signin-sub-label {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
}

.horizontalize {
    display: flex;
}

#signin-submit-button {
    background-color: blue;
    padding: 5px 20px;
    border: none;
    cursor: pointer; 
    color: white;
    border-radius: 50px;
    font-size: 20px;
    transition: all 0.3s ease;
    margin-bottom: 30px;
}

#signin-submit-button:hover {
    background-color: aqua;
}

.status-message {
    font-size: 24px;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: bold;
}

.logged-in {
    border: 1px solid #061700;
    background-color: #76b852;
}

.error-message {
    border: 1px solid #93291E;
    background-color: #ee9ca7;
}
